.App {
  text-align: center;
}

.big-box {
  height: "500px";
  width: "700px";
  align-items: "center";
  background-color: "royalblue";
  border-radius: "5%";
  margin: "30px";
  padding: "50px";
  display: "flex";
  justify-content: "space-between";
}

.small-box {
  height: "450px";
  width: "100px";
  background-color: "white";
  border-radius: "5%";
  padding: "50px";
  margin: "20px";
  cursor: "pointer";
}